<div class="card text-center card text-white bg-dark mb-3">
  <div class="card-header">
    O nama
  </div>
  <div class="card-body">
    <h5 class="card-title">Rent a car web stranica</h5>
    <p class="card-text">Rent a car web stranica nudi mogućnost davanja na najam svog automobila, ili iznajmljivanje automobila sa liste.
        Na Google Mapi prikazuju se automobili dostupni za iznajmljivanje. Možete kontaktirati izravno iznajmljivača automobila ukoliko postoje 
        dodatna pitanja. Prilikom iznajmljivanja automobila, kupac je dužan unesti podatke uključujući i podatke o kartici.
    </p>
    <a href="/contact" class="btn btn-primary">Kontaktirajte nas</a>
  </div>
  <div class="card-footer text-muted">
    IOOA
  </div>
</div>
