<div class="container card text-white bg-dark mb-3 card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header center">Rent a car</div>
  <div class="card-body center">
    <h5 class="card-title">Dobrodošli!</h5>
    <h2 class="center">
        <a href="/displayLoginForm" class="btn btn-info">Prijava putem emaila</a>
    </h2>
    <h6 class="center">
        <a href="/signup" class="btn btn-info">Registracija</a>
    </h6>
  </div>
</div>
