<div class="container card text-white bg-dark mb-3 card border-dark mb-3" style="width: 25rem;">
  <img src="{{user.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{user.firstname}} {{user.lastname}}</h5>
    <p>{{user.email}}</p>
  </div>
</div>