<div class="container">
    <div class="col-sm">
        <div class="col-sm-4">
            <h3 class="green">Uspješno!</h3>
            <p class="green">Hvala na iznajmljivanju!</p>
            <p>Email kupca: {{charge.source.name}}</p>
            <p>Iznos: {{budjet.ukupno}} kn</p>
            <p> Kartica: {{charge.source.brand}}</p>
            <p>Kartica završava s: {{charge.source.last4}}</p>
            <a href="/">Natrag na profil</a>
        </div>
        <div class="col-sm"></div>
    </div>
</div>