

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Hvala na iznajmljivanju!</h4>
            <p>Email kupca: {{charge.source.name}}</p>
            <p>Iznos: {{budjet.ukupno}} kn</p>
            <p> Kartica: {{charge.source.brand}}</p>
            <p>Kartica završava s: {{charge.source.last4}}</p>
            <hr>
            <a href="/">Natrag na profil</a>
</div>